@(entityForm : Form[MyEntity])
@import helper._

@layout("Create") {

    <p>Create New Entity</p>
    @form(routes.EntitiesController.save()) {

        <fieldset>
            @inputText(entityForm("name"),
                '_label -> "Text", '_help -> "",
                'class -> "form-control",
                'required -> "required"
            )
            @select(
                entityForm("list"),
                options = Seq(
                    "value1" -> "Value 1",
                    "value2" -> "Value 2",
                    "value2" -> "Value 3"
                ),
                '_label -> "Dropbox", '_help -> "",
                '_showConstraints -> false,
                'class -> "form-control"
            )
            @inputDate(entityForm("date"),
                '_label -> "Date",
                '_help -> "",
                'class -> "form-control",
                'onchange -> "checkDate(this)",
                'required -> "required"
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this Entity" class="btn btn-success"> or
            <a href="@routes.EntitiesController.list()" class="btn">Cancel</a>
        </div>

    }

}