@(entityForm : Form[MyEntity])

@import helper._

@layout("Edit") {

    <p>Edit Entity</p>
    @form(action = routes.EntitiesController.update()) {

        <fieldset>
            @inputText(entityForm("id"), '_label -> "",'class -> "hidden")
            @inputText(entityForm("name"), '_label -> "Text", '_help -> "", 'class -> "form-control",'required -> "required")
            @select(
                entityForm("list"),
                options = Seq(
                    "value1" -> "Value 1",
                    "value2" -> "Value 2",
                    "value3" -> "Value 3"
                ),
                '_label -> "Dropbox", '_help -> "",
                '_showConstraints -> false,
                'class -> "form-control"
            )
            @inputDate(entityForm("date"),
                '_label -> "Date",
                '_help -> "",
                'class -> "form-control",
                'onchange -> "checkDate(this)",
                'required -> "required"
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Update this Entity" class="btn btn-success"> or
            <a href="@routes.EntitiesController.list()" class="btn">Cancel</a>
        </div>

    }

}